:root {
  --c-brand: #0099ff !important;
  --c-brand-light: rgb(0, 162, 255) !important;
  --c-tip: #0099ff !important;
  --search-input-width: 10rem !important;
}

.site-name {
  background: -webkit-linear-gradient(45deg, #0081ff, #1cbbb4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// 隐藏主标题
#main-title {
  display: none;
}

.hero > img {
  margin: 2rem auto 0 !important;
}

// 设置滚动条样式 chrome
::-webkit-scrollbar {
  /* 滚动条整体样式 */
  width: 6px; /* 高宽分别对应横竖滚动条的尺寸 */
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /* 滚动条里面小方块 */
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #c1c1c1;
}
::-webkit-scrollbar-track {
  /* 滚动条里面轨道 */
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #ededed;
}
